html {
    background-image: url(../),linear-gradient(to left,#ff9966, #ff5e62);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}

img {
    max-width: 100%;
    height: auto;
}

/* Banner Overlay */
.image-banner {
    position: relative;
}

.image-banner-img {
    display: block;
}

.banner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    padding: 15px 25px;
}

.banner-description p {
    color: white;
}
/* End Banner Overlay */

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }

header {
    padding-top: 20px;
    color: rgb(248, 42, 42);
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}

/* Site Navegation*/
.site-nav {
    margin-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-left: 10px;
}

.site-nav a {
    text-decoration: none;
    color:#15306a;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom:none ;
    display: block;
}

.site-nav a:hover {
    background-color: #e5e9dc;
}

/* End Site Navegation */


.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main-area {
    width: 70%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

.support {
    width: 30%;
    float: left;
    background-color: #e5e9dc;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    font-size: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.fix {
    clear: both;
}

p {
    color: rgb(27, 11, 126);
}

 footer p {
    color: red;
    text-align: center;
    font-size: 85%;
    color: rgb(251, 53, 53);
    padding-top: 20px;
    padding-bottom: 20px;
}

 h1 {
    color: rgb(248, 42, 42);
    text-align: center;
    font-size: 165%;
	font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

 header p {
    color: rgb(234, 20, 20);
}

aside {
    color: #eb4a4a;
}

 header p span {
    color: blue;
}

.highlight {
    color: crimson;
    background-color: yellow;
}

.brand-color {
    color: rgba(249, 0, 0, 0.9);
    background-color: rgb(166, 166, 255);
}

h2 {
    color: rgb(248, 42, 42);
}